<h1>JUEGO DE AHORCADO</h1>

<form action="/buscar" method="post">

Ingrese una Letra<input type="text" name="campo" maxlength=1 minlength=1 required />
<input type="submit" value="Enviar" />

</form>

<label name="resultado"><%= @resultado %></label>
